{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set theBlock = theBlock ?? craft.matrixBlocks.type('richText').one() %}
{% set richText = richText ?? theBlock.richText %}
{% set topBorder = topBorder ?? theBlock.topBorder ? "topBorder" : "" %}
{% set layout = layout ?? theBlock.layout %}
{% set narrowWidth = narrowWidth ?? theBlock.narrowWidth ? "narrowWidth" : "" %}
{% set isFirst = isFirst ?? false %}

{% if richText %}

    <div class="content-block rich-text-block {{ isFirst }} {{ topBorder }} layout-{{ layout }} {{ narrowWidth }}" data-scroll-section>
        <div class="rich-text">
            {{ richText | typogrify }}
        </div>
    </div>

{% endif %}
